*{
    background-color: #232f3e;
    font-family: Arial, Helvetica, sans-serif;
    width : 100%;
    margin :0;
    padding: 0;;
}

.topbar{
    height : 120px;
    width: 100%;
    background-color: #131a22;
    color :burlywood;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#heading{
    text-align: center;
    background-color: #131a22;
}

.Middle{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 400px;
}

#rock{
    text-align: center;
    background-image: url("https://rohanprad.github.io/rock-paper-scissors/rock.jpg");
    background-size: cover;
    background-color: #2b3a4b;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

#paper{
    text-align: center;
    background-image: url("https://chy-zaber-bin-zahid.github.io/Rock-Paper-Scissors/paper.png");
    background-size: contain;
    background-color: #2b3a4b;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

#Scissors{
    text-align: center;
    background-image: url("https://joa-d.github.io/Rock-Paper-Scissor-GSG/image/scissor.png");
    background-size: cover;
    background-color: #2b3a4b;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

pre{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #202a34;
    color: white
}

#rock:hover{
    border:4px solid red;
    opacity: 50%;
}

#paper:hover{
    border:4px solid red;
    opacity: 50%
}

#Scissors:hover{
    border:4px solid red;
    opacity: 50%
}

.Score {
    display: flex;
    align-items: center;
    text-align: center;
    width: 25%;
    margin-left:  600px;
}

.Score p{
    font-size: 2rem;    
    color: white;
}

#userscore{
    margin-top:100px;
    padding-bottom: 20px;
    position: relative;
    right :50px;
    font-size: 2rem;
}

#comscore{
    
    margin-top:100px;
    padding-bottom: 20px;
    position: relative;
    right :100px;
    font-size: 2rem;
}

.msg{
    display: flex;
    align-content: center;
    justify-content: center;
}

#res{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 80px;
    width: 65%;
    justify-content: center;
    border-radius: 75%;
    padding-top: 30px;
    font-size: 2rem;
    color: white;
    background-color: black;
}

#res1{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 80px;
    width: 65%;
    justify-content: center;
    border-radius: 75%;
    padding-top: 30px;
    font-size: 2rem;
    color: white;
    background-color: black;
}


